.modalContainer{
  height: 100%;
  width:100%;
}
.modalMedia{
  position: absolute;
  height: 100%;
  left: 0;
  bottom: 0;
  right: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalPhoto{
/* max-width: 100%; */

}
.detailsContainer{
  position: absolute;
  height: 100%;
  width: 300px;
  bottom: 0;
  right: 0px;
  background-color: white;
}
